main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	background-color: #e5eef9;
}

main .filters {
	order: 0;
}

main .cards {
	order: 1;
}

.loading {
	display: flex;
	order: 2;
}

.cards + .loading {
	margin-top: -2%;
}

@media (max-width: 2000px) {
	main .filters {
		display: none;
	}
}
