li {
	max-height: 150px;
	transition: max-height 0.1s ease-out;
	display: inline-block;
	margin: 1vh;
	border-radius: 25px;
	width: 80%;
	background-color: #ffffffc7;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

@media (min-width: 200px) {
	li {
		width: 100%;
	}

	.card {
		width: calc(100% + 100px);
	}

	.card .text h1,
	.card .text h2 {
		font-size: 4vw;
	}
}

@media (min-width: 700px) {
	.card .text h1,
	.card .text h2 {
		font-size: 3.3vw;
	}
}

@media (min-width: 900px) {
	li {
		width: 40%;
	}

	.card .text h1,
	.card .text h2 {
		font-size: 23px;
	}
}

.card {
	display: flex;
	overflow: hidden;
	height: 100%;
	width: 100%;
	align-items: center;
	border-radius: 25px;
}

li:focus-within {
	position: relative;
	max-height: 1000px;
	transition: max-height 0.5s ease-in;
}

li:focus-within .card .text h1 {
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

li:hover {
	position: relative;
	top: -5px;
	box-shadow: 0 2px 11px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

ul {
	margin-top: 5vh;
	display: flex;
	list-style-type: none;
	flex-wrap: wrap;
	padding: 1vh;
	justify-content: center;
	width: 90vw;
}

.card img {
	clip-path: polygon(0 0, 80% 0, 56% 100%, 0 100%);
	min-height: 30vh;
	min-width: 150px;
	width: 15vw;
	transform: scaleY(10%);
}

.card .text {
	transform: translateX(-3vw);
}

.card .text h1,
.card .text h2 {
	margin: 0;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	padding: 5px;
	text-overflow: ellipsis;
}

.card .text h1 {
	color: #7faae4;
	width: 100%;
}

.card .text span {
	width: 100%;
	display: flex;
}

.card .text span .label {
	color: #34283f;
	font-weight: 400;
}

.card .text span .data {
	color: #834db7;
	font-weight: 500;
}

.endString {
	display: flex;
	justify-content: center;
	color: #34283f;
}
